<?xml version="1.0" encoding="GBK"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>init.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j</param-name>
      <param-value>WEB-INF/conf/log4j.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DBInit</servlet-name>
    <servlet-class>init.DBInit</servlet-class>
    <init-param>
      <param-name>db</param-name>
      <param-value>WEB-INF/conf/dbconfig.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SysInit</servlet-name>
    <servlet-class>init.SysInit</servlet-class>
    <init-param>
      <param-name>sysconf</param-name>
      <param-value>WEB-INF/conf/sysconf.xml</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <filter>
    <filter-name>EnCodeFilter</filter-name>
    <filter-class>filter.EnCodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EnCodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/private/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login_Ser</servlet-name>
    <servlet-class>ser.Login_Ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Ser</servlet-name>
    <url-pattern>/login_Ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Boc_Server_Ser</servlet-name>
    <servlet-class>ser.Boc_Server_Ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Boc_Server_Ser</servlet-name>
    <url-pattern>/boc_Server_Ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Boc_User_Ser</servlet-name>
    <servlet-class>ser.Boc_User_Ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Boc_User_Ser</servlet-name>
    <url-pattern>/boc_User_Ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download_Ser</servlet-name>
    <servlet-class>ser.ServletDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download_Ser</servlet-name>
    <url-pattern>/downloadfile</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>